@model MusicStoreEntity.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>我的订单</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>我的订单</legend>
        @Html.EditorForModel()
        <table>
            <tr>
                <th>订单摘要</th>
                <th>明细</th>
                <th>总价</th>
                <th>状态</th>
            </tr>
            <tbody id="tbCart">
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Album.Title, "detail", "Store", new { id = item.Album.ID }, null)
                        </td>
                        <td>
                            @item.Album.Price.ToString("C")
                        </td>
                        <td>
                            @item.Count
                        </td>
                        <td>
                            <a href="#" onclick="RemoveDetail('@item.ID');">
                                <i class="glyphicon glyphicon-remove"></i>
                                我不喜欢它了
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>总价</td>
                    <td>@Model.TotalPrice.ToString("C")</td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <p>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-shopping-cart">确定购买</i>
            </button>
        </p>
    </fieldset>
}

<script>
    function RemoveDetail(id) {
        //移除订单明细
        $.ajax({
            type: 'post',
            async: true,
            url: "../../Order/RemoveDetail",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                $("#tbCart").html(data);
            }
        });
    }
</script>

